.nav-container{
    height: 60px;
    /* position: fixed;
    width: 100%; */
}

.nav-container a{
    margin-left: 16px;
    position: relative;
}
.nav-right a:hover{
    color: tomato;
}
.nav-right a::before{
    content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #c72d2d;
  transition: all 0.45s;
}
.nav-right a:hover::before{
    width: 100%;
}

@media (max-width: 640px){
    .navBar{
        display: flex;
        flex-direction: column;
        height: 80px;
    }
    .nav-container a{
        margin: 0px 20;
    }
    .nav-container{
        padding: 10px 0;
    }
}